ENVIRONMENT=development

##########################################################
API_VERSION=0.1.000
##########################################################

#Service basic details

PORT=12345
SERVICE_NAME=Order-Management-Service
BASE_URL=http://localhost:12345
USER_ACCESS_TOKEN_SECRET=<user-access-token-secret>
CIPHER_SALT=<cipher-salt-for-encryption>

##########################################################

#Database connection details
DB_USER_NAME=root
DB_USER_PASSWORD=root
DB_NAME=awards_dev
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql
DB_CONNECTION_STRING=mysql://${DB_USER_NAME}:${DB_USER_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
##########################################################